<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <startup>
  </startup>
  <appSettings>
    <!--*********************************      SECRETS      ******************************-->
    <add key="UI" value="Ngo9BigBOggjHTQxAR8/V1NAaF5cWWJCf1FpRmJGdld5fUVHYVZUTXxaS00DNHVRdkdnWXhcdnRcQ2RdVE11WkY=" />
    <add key="ApiKey" value="AIzaSyBsfbY19GJMzr3MXqr6MhJ4YKDfhv4QNkw" />
    <add key="SearchEngineId" value="a2f030f4bfacb4008" />
    <add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial" />
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
    <add name="DefaultConnection1" connectionString="Data Source = |SQL/CE|" />
    <add name="DefaultConnection2" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
</configuration>