<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>
    <startup>
    </startup>
    <appSettings>
        <!--*********************************      SECRETS      ******************************-->
        <add key="UI" value="MzU3MDA4OEAzMjMxMmUzMTJlMzQzMUd5NXM3U1dWTVYvbVdmT0VyM3dJSTRST1gzVGtDZlNzWEJIRmVwNGlVbFE9;MzU3MDA4OUAzMjMxMmUzMTJlMzQzMVBYeENDcHNjQmxibCthRlFRcENFLzVWeVBFbFg1YUdJTlU1SVZnR2lsSWc9;Mgo+DSMBPh8sVXJ1S0d+WFBPd11dXmJWd1p/THNYflR1fV9DaUwxOX1dQl9nSH9Tf0dhWXhbd3RVT2c=;ORg4AjUWIQA/Gnt2VFhhQlVFfV5AQmBIYVp/TGpJfl96cVxMZVVBJAtUQF1hTX9SdkxhW39ZdXNURmRc;NRAiBiAaIQQuGjN/V0d+XU9Ad1RDX3xKf0x/TGpQb19xflBPallYVBYiSV9jS3pSd0VqW31ed3FSR2FVVw==;MzU3MDA5M0AzMjMxMmUzMTJlMzQzMWhWSEU1SFpjTC9jVnczR21YMjMvSUYzM0wzWVNKbWFXeWJzZUZ2SEdwNzA9;MzU3MDA5NEAzMjMxMmUzMTJlMzQzMUc3MVlPTjRKTk9SVGdWbktNY1l1T2tmdzBWbm1lTlJ6aVJQNGMzenZXK0U9;Mgo+DSMBMAY9C3t2VFhhQlVFfV5AQmBIYVp/TGpJfl96cVxMZVVBJAtUQF1hTX9SdkxhW39ZdXNUTmJY;MzU3MDA5NkAzMjMxMmUzMTJlMzQzMU5Na1FsTG9XNjhNdkpWMUswVUppT2dEMDRyb3JreGpZSWhFVjBaZDZRTkE9;MzU3MDA5N0AzMjMxMmUzMTJlMzQzMWF2d09PZFUrejRCYndxR0dLbHQ0N2dMaEFiaTdKRkRYcVc1OEVFQVZHdDA9;MzU3MDA5OEAzMjMxMmUzMTJlMzQzMWhWSEU1SFpjTC9jVnczR21YMjMvSUYzM0wzWVNKbWFXeWJzZUZ2SEdwNzA9" />
        <add key="ApiKey" value="AIzaSyCHzpjoJr-rJKY-r41peBCrDUqbducpgh4" />
        <add key="SearchEngineId" value="a2f030f4bfacb4008" />
        <add key="SearcEngieUrl" value="https://cse.google.com/cse?cx=a2f030f4bfacb4008" />
        <add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial" />
    </appSettings>
    <runtime>
    </runtime>
</configuration>