<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>
    <startup>
    </startup>
    <appSettings>
        <!--*********************************      SECRETS      ******************************-->
        <add key="UI" value="Ngo9BigBOggjHTQxAR8/V1NAaF5cWWJCf1FpRmJGdld5fUVHYVZUTXxaS00DNHVRdkdnWXhcdnRcQ2RdVE11WkY=" />
        <add key="ApiKey" value="AIzaSyBsfbY19GJMzr3MXqr6MhJ4YKDfhv4QNkw" />
        <add key="SearchEngineId" value="a2f030f4bfacb4008" />
        <add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial" />
    </appSettings>
    <runtime>
    </runtime>
</configuration>